@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=IM+Fell+English:ital@0;1&display=swap');

body {
  background-color: #fefefe;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
}

p, h1, h2, h3, h4, h5, h6, h7 {
  padding: 0px;
  margin: 0px;
}

h2, h3, h4, h5, h6, h7 {
    font-family: 'Eczar', serif;
    font-weight: 700;
}

.filtered {

    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 2px;
    background-image: 
        radial-gradient(ellipse, #0000, #0007),
        linear-gradient(0deg, #9725, #9725),
        url(https://i.ibb.co/vJt5HSh/noisy-texture-300x300-o10-d10-c-a82851-t1.png);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    filter: blur(0.05em) saturate(0.0) contrast(1.8) brightness(1.2) grayscale(100%);
    margin-bottom:5px;

}

p {
  padding: 0px;
  margin: 0px;
  font-family: 'Newsreader', serif;
    font-weight: 600;
    font-size: 1em;
}

h1 {
  font-family: 'UnifrakturCook', cursive;
  text-align: center;
  font-size: 80px;
  color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.9);
  padding: 20px;
  margin: 0px;
}

h2 {
  font-size: 1.3em;
  line-height: 1.2;
  padding-bottom: .5em;
  color: transparent;
  text-shadow: 0 0 1px rgba(0,0,0,0.9);
}

figure {
  display:none;
}

.block-time, .updated-time {
  display: none;
}

.block-title {
  display:none;
}

.header-font {
    font-family: 'IM Fell English', serif;
}

a {
  color: black;
}

hr {
  border: 0.5px solid darkgray;
  /* box-shadow: 0 0 .5px rgba(0,0,0,0.9); */
}

.small-caps {
    font-family: 'IM Fell English SC', serif;
}

.story-copy {
  text-align: justify;
    text-indent: 2em;
}

img {
  width: 100%;
  padding: 10px 0px;
}