@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap');

body {
  background-color: #fefefe;
  background-image: url("https://www.transparenttextures.com/patterns/exclusive-paper.png");
}

p {
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'UnifrakturCook', cursive;
  text-align: center;
  font-size: 80px;
  color: transparent;
  text-shadow: 0 0 2px rgba(0,0,0,0.9);
  padding: 20px;
  margin: 0px;
}

.header-font {
  font-family: 'Lusitana', serif;
}

hr {
  border: 0.5px solid #202124;
  /* box-shadow: 0 0 .5px rgba(0,0,0,0.9); */
}